<%= @snack.name %>
<p>
  Price: <%= @snack.price %>
</p>

Locations
<% @snack.machines.each do |vm| %>
<p>
  * <%= vm.location %> (<%= vm.snacks.size %> kinds of snacks, average price of <%= vm.average_snack_price %>)
</p>
<% end %>